# https://git-scm.com/docs/gitignore
# https://help.github.com/articles/ignoring-files
# Example .gitignore files: https://github.com/github/gitignore
day6.html

*.png

*.png

img/for.png

img/while.png

js/day6.js
